@import url("https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css");

body {
  color: white;
  background: #18181b;
  font-family: sans-serif, Tossface;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}
